<ng-container *ngIf="(hasResetToken | async) === false">
	<form
		class="w-fit h-fit flex flex-col items-center border border-neutral-200 rounded-lg shadow px-6 py-3 m-8"
		[formGroup]="pwdResetForm"
		(ngSubmit)="submitResetRequest()"
	>
		<div class="prose flex flex-col gap-3">
			<div class="flex flex-col gap-2 my-3 items-center">
				<h1 class="text-center m-0">Reset password</h1>
				<p class="max-w-[38ch] m-0">
					If you forgot your password, you can request an email with
					password reset link. Enter your account identifier (username
					or email) to request one.
				</p>
			</div>

			<app-input
				*ngIf="pwdResetForm.controls['identifier'] as identifier"
				title="Username or email"
				placeholder="AwesomeUsername(@domain.example)"
				inFormControlName="identifier"
			>
				<ng-template #validator>
					<p
						*ngIf="
							identifier.getError('minlength') && identifier.dirty
						"
						class="not-prose text-sm font-light m-0 text-rose-600"
					>
						Identifier must be at least
						{{
							identifier.getError("minlength")?.requiredLength ||
								"6"
						}}
						characters long!
					</p>
				</ng-template>
			</app-input>

			<button
				type="submit"
				class="submit_button"
				[disabled]="!pwdResetForm.valid"
			>
				Reset!
			</button>
		</div>

		<p
			*ngIf="requestErrors?.success === false"
			class="my-1 text-rose-600 text-center max-w-[32ch]"
		>
			Failed to send reset email!
		</p>

		<p
			*ngIf="requestErrors.success"
			class="my-1 text-green-600 text-center max-w-[32ch]"
		>
			Email sent!
		</p>

		<p
			*ngIf="requestErrors?.invalidCredentials"
			class="my-1 text-rose-600 text-center max-w-[32ch]"
		>
			Requested account does not exist!
		</p>

		<app-loading-indicator
			*ngIf="sendingRequest | async"
			placeholder="Sending email..."
		></app-loading-indicator>
	</form>
</ng-container>

<ng-container *ngIf="hasResetToken | async">
	<form
		*ngIf="passwordResetResponse as resp"
		class="w-fit h-fit flex flex-col items-center border border-neutral-200 rounded-lg shadow px-6 py-3 m-8"
		[formGroup]="newPasswordForm"
		(ngSubmit)="resetPassword()"
	>
		<div class="prose flex flex-col gap-3">
			<div class="flex flex-col gap-2 my-3 items-center">
				<h1 class="text-center m-0">Hi, {{ resp.user.username }}</h1>
				<p class="max-w-[38ch] m-0">
					Please, enter a new account password below.
				</p>
			</div>

			<label for="password" class="flex flex-col gap-2">
				<span>New password</span>
				<input
					type="password"
					class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow outline-none focus-visible:outline-none"
					placeholder="Password"
					formControlName="password"
				/>
				<input
					type="password"
					class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow outline-none focus-visible:outline-none"
					placeholder="Confirm password"
					formControlName="repeat"
				/>

				<p
					*ngIf="newPasswordForm.errors?.['passwordsMismatch']"
					class="not-prose text-sm font-light text-rose-600 m-0"
				>
					Passwords do not match!
				</p>
			</label>

			<button
				type="submit"
				class="submit_button"
				[disabled]="!newPasswordForm.valid || requestErrors.success"
			>
				Change password!
			</button>
		</div>

		<p
			*ngIf="requestErrors?.success === false"
			class="my-1 text-rose-600 text-center max-w-[32ch]"
		>
			Failed to change password!
		</p>

		<p
			*ngIf="requestErrors.success"
			class="my-1 text-green-600 text-center max-w-[32ch]"
		>
			Password changed!
		</p>

		<app-loading-indicator
			*ngIf="sendingRequest | async"
			placeholder="Changing password..."
		></app-loading-indicator>
	</form>
</ng-container>
