<form
	[formGroup]="todoForm"
	(ngSubmit)="addTodo($event.submitter)"
	class="prose flex flex-col gap-3 items-center"
>
	<div class="flex flex-col gap-2">
		<h1 class="text-center my-0">Todo maker:</h1>
		<p class="my-0 max-w-[42ch]">
			Create todos in a few clicks and save them in the cloud (only if
			you're logged in your account). Manage todos and enjoy the power of
			web!
		</p>
	</div>

	<app-input
		placeholder="Todo title"
		inFormControlName="title"
		id="todoTitle"
		title="Title"
	></app-input>

	<span class="flex gap-2 flex-wrap">
		<app-button type="submit" [isDisabled]="!todoForm.valid">
			<ng-template #content>Add todo!</ng-template>
		</app-button>
		<app-button
			type="submit"
			[isDisabled]="!todoForm.valid"
			customId="cloud"
			*ngIf="authService.isAuth$ | async"
		>
			<ng-template #content>Add to cloud!</ng-template>
		</app-button>
	</span>

	<div class="flex flex-col mt-5 gap-2">
		<h1 class="text-center my-0">Todos list:</h1>
		<p class="my-0 max-w-[42ch]">
			Lists your current Todos (if possible, synced with the cloud) and
			allows to manage them.
		</p>
	</div>
	<form>
		<ul class="flex flex-col gap-4">
			<ng-container *ngIf="todos$ | async as todosSync">
				<ng-container *ngIf="todosSync.length !== 0">
					<div class="flex flex-col gap-2 items-center">
						<h2 class="text-center my-0">Your local todos:</h2>
						<li *ngFor="let todo of todosSync">
							<app-todo-card
								[todo]="todo"
								(triggerRemoveTodo)="removeTodo($event, false)"
								(triggerTodoCompleteStatus)="
									toggleTodoComplete(
										$event.id,
										$event.completed,
										false
									)
								"
							></app-todo-card>
						</li>
					</div>
				</ng-container>
			</ng-container>

			<ng-container *ngIf="cloudTodos$ | async as cloudTodos">
				<ng-container *ngIf="cloudTodos.length !== 0">
					<div class="flex flex-col gap-2 items-center">
						<h2 class="text-center my-0">Your cloud todos:</h2>
						<app-button type="button" (click)="refreshTodos()">
							<ng-template #content>Refresh list</ng-template>
						</app-button>
						<li *ngFor="let todo of cloudTodos">
							<app-todo-card
								[todo]="todo"
								(triggerRemoveTodo)="removeTodo($event, true)"
								(triggerTodoCompleteStatus)="
									toggleTodoComplete(
										$event.id,
										$event.completed,
										true
									)
								"
							></app-todo-card>
						</li>
					</div>
				</ng-container>
			</ng-container>
		</ul>
	</form>
</form>
