<form
	class="w-fit h-fit flex flex-col items-center border border-neutral-200 rounded-lg shadow px-6 py-3 m-8"
	[formGroup]="loginForm"
	(ngSubmit)="submitLogin()"
>
	<div class="prose flex flex-col gap-3">
		<div class="flex flex-col gap-2 my-3 items-center">
			<h1 class="text-center m-0">Login</h1>
			<p class="max-w-[38ch] m-0">
				Working with TraineeSQD is the best experience if you're logged
				in and have access to all features!
			</p>
		</div>

		<app-input
			*ngIf="loginForm.controls['username'] as username"
			title="Username"
			placeholder="AwesomeUsername"
			inFormControlName="username"
		>
			<ng-template #validator>
				<p
					*ngIf="username.getError('minlength') && username.dirty"
					class="not-prose text-sm font-light m-0 text-rose-600"
				>
					Username must be at least
					{{ username.getError("minlength")?.requiredLength || "6" }}
					characters long!
				</p>
			</ng-template>
		</app-input>

		<app-input
			inFormControlName="password"
			title="Password"
			placeholder="Password"
			type="password"
		></app-input>

		<app-input
			inFormControlName="totp"
			title="TOTP Code"
			placeholder="123456"
			*ngIf="needsTotp"
		></app-input>

		<button
			type="submit"
			class="submit_button"
			[disabled]="!loginForm.valid"
		>
			Login!
		</button>
	</div>
	<p *ngIf="loginErrors" class="my-1 text-rose-600 text-center max-w-[32ch]">
		{{ loginErrors.message }}
	</p>
	<app-loading-indicator
		*ngIf="loginSubmissionInProcess | async"
		placeholder="Logging in..."
	></app-loading-indicator>
</form>
