<form
    class="w-fit h-fit flex flex-col items-center border border-neutral-200 rounded-lg shadow px-6 py-3 m-8"
    [formGroup]="loginForm"
    (ngSubmit)="submitLogin()"
>
    <div class="prose flex flex-col gap-3">
        <div class="flex flex-col gap-2 my-3 items-center">
            <h1 class="text-center m-0">Login</h1>
            <p class="max-w-[38ch] m-0">
                Working with TraineeSQD is the best experience if you're logged
                in and have access to all features!
            </p>
        </div>

        <label for="username" class="w-full">
            <span>Username</span>
            <input
                type="text"
                class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow disabled:bg-zinc-300 disabled:cursor-not-allowed transition-all"
                placeholder="AwesomeUsername"
                formControlName="username"
            />
            <p
                *ngIf="
                    loginForm.controls['username'].getError('minlength') &&
                    loginForm.controls['username'].dirty
                "
                class="not-prose text-sm font-light m-0 text-rose-600"
            >
                Username must be at least
                {{
                    loginForm.controls["username"].getError("minlength")
                        ?.requiredLength || "6"
                }}
                characters long!
            </p>
        </label>
        <label for="password" class="w-full">
            <span>Password</span>
            <input
                type="password"
                class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow disabled:bg-zinc-300 disabled:cursor-not-allowed transition-all"
                placeholder="Password"
                formControlName="password"
            />
        </label>
        <label for="totp" class="w-full" *ngIf="needsTotp">
            <span>TOTP Code</span>
            <input
                type="text"
                class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow"
                placeholder="TOTP Code"
                formControlName="totp"
            />
        </label>
        <button
            type="submit"
            class="submit_button"
            [disabled]="!loginForm.valid"
        >
            Login!
        </button>
    </div>
    <p *ngIf="loginErrors" class="my-1 text-rose-600 text-center max-w-[32ch]">
        {{ loginErrors.message }}
    </p>
</form>

<span
    *ngIf="loginSubmissionInProcess | async"
    class="flex gap-2 items-center justify-center"
>
    <div
        class="w-8 h-8 bg-transparent border-4 border-gray-300 border-t-gray-800 animate-spin rounded-full"
    ></div>
    Processing login...
</span>
