<header class="sticky top-0 w-full bg-white shadow mb-4">
	<nav class="flex mx-3 py-2 justify-between items-center">
		<a routerLink="/home" class="font-bold text-xl">Home</a>
		<ng-container *ngIf="this.authService.isAuth$ | async">
			<p *ngIf="this.authService.user$ | async as user">
				Hello,
				<a routerLink="/account" class="font-semibold">{{
					user.getUsername
				}}</a>
			</p>
		</ng-container>
		<div class="flex gap-3">
			<a routerLink="/utils">Utils</a>
			<hr class="w-0.5 h-auto bg-gray-800" />
			<ul
				*ngIf="!(this.authService.isAuth$ | async); else isAuth"
				class="menulist flex gap-1.5"
			>
				<li><a routerLink="/reg">Reg</a></li>

				<li><a routerLink="/login">Login</a></li>
			</ul>
			<ng-template #isAuth>
				<ul class="menulist flex gap-1.5">
					<li><a routerLink="/account">Account</a></li>

					<li><a routerLink="/logout">Logout</a></li>
				</ul>
			</ng-template>
		</div>
	</nav>
</header>

<div class="component-wrapper">
	<router-outlet></router-outlet>
</div>
