<form
    class="w-fit h-fit border border-neutral-200 rounded-lg shadow px-6 py-3 m-8"
    [formGroup]="regForm"
    (ngSubmit)="submitReg()"
>
    <div class="prose flex flex-col gap-3">
        <div class="flex flex-col gap-2 my-3">
            <h1 class="text-center m-0">Register</h1>
            <p class="max-w-[38ch] m-0">
                Working with TraineeSQD is the best experience if you're
                registered and have access to all features!
            </p>
        </div>
        <label for="username">
            <span>Username</span>
            <input
                type="text"
                class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow"
                placeholder="AwesomeUsername"
                formControlName="username"
            />
            <p
                *ngIf="
                    regForm.controls['username'].getError('minlength') &&
                    regForm.controls['username'].dirty
                "
                class="not-prose input_error"
            >
                Username must be at least
                {{
                    regForm.controls["username"].getError("minlength")
                        ?.requiredLength || "6"
                }}
                characters long!
            </p>
            <p
                *ngIf="
                    regForm.controls['username'].getError(
                        'uniqueValueAlreadyTaken'
                    )
                "
                class="text-sm font-light m-0 text-rose-600"
            >
                Username already taken!
            </p>
            <ValidationIndicator
                [vi-control]="regForm.controls['username']"
            ></ValidationIndicator>
        </label>
        <label for="email">
            <span>Email</span>
            <input
                type="email"
                class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow"
                placeholder="urmail@domain.ex"
                formControlName="email"
            />
            <FormValidationHandler
                [fvh-control]="regForm.controls['email']"
                fvh-check-for-error="email"
            ></FormValidationHandler>
            <FormValidationHandler
                [fvh-control]="regForm.controls['email']"
                fvh-check-for-error="uniqueValueAlreadyTaken"
                fvh-error-msg="Email already taken!"
            >
            </FormValidationHandler>
            <ValidationIndicator
                [vi-control]="regForm.controls['email']"
            ></ValidationIndicator>
        </label>
        <label for="password" class="flex flex-col">
            <span>Password</span>
            <input
                type="password"
                class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow"
                placeholder="Password"
                formControlName="password"
            />
            <input
                type="password"
                class="border border-neutral-300 rounded-md w-full px-3 py-1.5 shadow"
                placeholder="Confirm password"
                formControlName="passConfirm"
            />
            <p
                *ngIf="regForm.errors?.['passwordsMismatch']"
                class="not-prose input_error"
            >
                Passwords do not match!
            </p>
        </label>
        <button type="submit" class="submit_button" [disabled]="!regForm.valid">
            {{ regForm.valid ? "Register!" : "Complete the form first!" }}
        </button>
    </div>
</form>
<span *ngIf="regSubmissionInProcess | async" class="flex gap-2">
    <div
        class="w-8 h-8 bg-transparent border-4 border-gray-300 border-t-gray-800 animate-spin rounded-full"
    ></div>
    Processing registration...
</span>
