<main class="prose w-full flex flex-col items-center prose-h1:m-0">
    <h1 class="text-[#52414c]">TraineeSQD</h1>
    <p>For training purposes... I'm trying to do a lot of stuff here.</p>
    <ul>
        >> 12.06.2022
        <li>Setup Angular v14</li>
        <li>Add TailwindCSS stylings</li>
        <li>
            Setup project flow (Prettier formatting, Angular schematics, etc.)
        </li>
        <li>Add navigation bar.</li>
        <li>
            Add Reg form with input validation and error handling (submission
            logs the form value as of now).
        </li>
    </ul>
</main>
