<main class="prose w-full flex flex-col items-center prose-h1:m-0 gap-4">
    <div class="flex flex-col gap-3 items-center justify-center">
        <h1 class="text-[#52414c]">TraineeSQD</h1>
        <p class="m-0">
            For training purposes... I'm trying to do a lot of stuff here.
        </p>
    </div>
    <ul>
        >> 12.06.2022
        <li>Setup Angular v14</li>
        <li>Add TailwindCSS stylings</li>
        <li>
            Setup project flow (Prettier formatting, Angular schematics, etc.)
        </li>
        <li>Add navigation bar.</li>
        <li>
            Add Reg form with input validation and error handling (submission
            logs the form value as of now).
        </li>
    </ul>
    <ul>
        >> 14.06.2022 (informally, 13.06.2022)
        <li>Add registration</li>
        <li>Add login</li>
        <li>Add auth flow</li>
    </ul>
    <ul>
        >> 14.06.2022
        <li>Add account page</li>
        <li>Implement TOTP login flow</li>
    </ul>
</main>
