<main class="prose w-full flex flex-col items-center prose-h1:m-0 gap-4">
	<div class="flex flex-col gap-3 items-center justify-center">
		<h1 class="text-accent-900">TraineeSQD</h1>
		<p class="m-0">
			For training purposes... I'm trying to do a lot of stuff here.
		</p>
	</div>
	<div
		class="flex flex-col border border-neutral-300 rounded-lg px-5 py-4 items-center"
	>
		<h1 class="text-center text-accent-900">Latest commit:</h1>
		<div *ngIf="latestCommit as lc">
			<h3 class="my-1 text-center">
				<a
					[href]="lc.html_url"
					target="_blank"
					rel="noreferrer noopener"
					>Commit {{ lc.sha.substring(0, 7) }}</a
				>
			</h3>
			<span class="flex gap-3 prose-p:my-0.5">
				<div class="flex flex-col my-1">
					<p>
						Additions: <strong>{{ lc.stats.additions }}</strong>
					</p>
					<p>
						Authored: <strong>{{ lc.author.login }}</strong>
					</p>
				</div>
				<hr
					class="h-auto w-[1px] my-0 border-none bg-neutral-400 rounded-full"
				/>
				<div class="flex flex-col my-1">
					<p>
						Deletions: <strong>{{ lc.stats.deletions }}</strong>
					</p>
					<p>
						Committed: <strong>{{ lc.committer.login }}</strong>
					</p>
				</div>
			</span>
			<p class="my-1 text-center">
				At:
				{{ lc.commit.author.date | date: "EEEE, dd MMM yyyy; HH:mm" }}
			</p>
		</div>
		<app-loading-indicator
			placeholder="Loading latest commit..."
			*ngIf="latestCommitLoading | async"
			class="my-2 mx-0"
		></app-loading-indicator>
	</div>
	<ul>
		>> 12.06.2022
		<li>Setup Angular v14</li>
		<li>Add TailwindCSS stylings</li>
		<li>
			Setup project flow (Prettier formatting, Angular schematics, etc.)
		</li>
		<li>Add navigation bar.</li>
		<li>
			Add Reg form with input validation and error handling (submission
			logs the form value as of now).
		</li>
	</ul>
	<ul>
		>> 14.06.2022 (informally, 13.06.2022)
		<li>Add registration</li>
		<li>Add login</li>
		<li>Add auth flow</li>
	</ul>
	<ul>
		>> 14.06.2022
		<li>Add account page</li>
		<li>Implement TOTP login flow</li>
	</ul>
	<ul>
		>> 16.06.2022
		<li>Fix files naming case.</li>
		<li>Transition to RxJS opposed to async/await.</li>
		<li>Add loading indicators across the app.</li>
		<li>
			Clean up the code: remove redundancy, unused comments and
			unnecessary type annotations.
		</li>
		<li>Remove env files from repo, implement environment interface.</li>
	</ul>
	<ul>
		>> 17.06.2022
		<li>
			Update CI/CD flow to create environment files during CD process.
		</li>
	</ul>
	<ul>
		>> 18.06.2022
		<li>
			Fetch latest commit info from GitHub API and display it on the
			homepage.
		</li>
	</ul>
	<ul>
		>> 26.06.2022
		<li>Add Todos widget in "Utils" section. Based on NGXS.</li>
		<li>Fix minor UI things.</li>
	</ul>
</main>
